h1{
 color: #FF9900;
}
h2,h3,h4{
 color: #F1F1F1;
}

h5{
 color:  	#FF9900;
}

.figure-caption{
 color: #C5D2E4;
 font-size: 75%;
}
.blockquote {
	background: #00c43a;
}
.quarto-title-meta-heading{
 color:  #DDDDDD;
}

#title-block-header a {
    text-decoration: underline;
}
